.admin-history-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding-top: 1.5rem;
    overflow: auto;

    .home-background {
        z-index: -10;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;

        .overlay {
            background-color: rgba(0, 0, 0, 0.78);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .total-revenue-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;

        .revenue-counter {
            font-size: 3em;
            color: #c5eb0d;
            margin: 0;
            margin-bottom: 0.8rem;
        }

        .desc {
            font-size: 1.2em;
            color: #a6a6a6;
        }
    }

    .transaction-list-cont {
        flex: 1;
        padding: 1rem;
        background-color: #2b2b2b;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

        /* Page Styling */
        .history-title {
            font-size: 1.1em;
            font-weight: 400;
            color: #f1f1f1;
        }

        .filter-cont {
            width: auto;
            overflow-x: auto;
            display: flex;
            gap: 0.8rem;
            margin-bottom: 1rem;
            scrollbar-width: none;

            .filter-btn {
                font-size: 0.8em;
                line-height: 0.8em;
                background-color: transparent;
                border: 1px solid #4f4f4f;
                padding: 0.4rem 1.5rem;
                border-radius: 5rem;
                color: rgb(200, 200, 200);

                &.active {
                    background-color: #4f4f4f;
                }
            }
        }

        hr {
            margin: 0.6rem 0;
        }

        /* Responsive Table */
        .history-container {
            width: 100%;
            margin: 20px auto;
            overflow-x: auto;

            .transaction-cont {
                display: flex;
                margin-bottom: 2.5rem;

                p {
                    font-size: 0.95em;
                    color: #7f7f7f;
                }

                .main-info {
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    h2 {
                        font-size: 1.3em;
                        color: #acacac;
                        font-weight: 400;
                    }
                }

                .sub-info {
                    display: flex;
                    flex-direction: column;
                    align-items: end;

                    h3 {
                        font-size: 1em;
                        color: #00bb00;
                    }
                }
            }
        }
    }
}
