.login-cont {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7rem 0 5rem 0;
  color: white;
  background: linear-gradient(163.63deg, #434732 -12.77%, #231f1e 60.76%);

  &.register-cont {
    background: linear-gradient(166.82deg, #3e4152 0%, #231f1e 60.41%);
  }

  .header-cont {
    font-size: 1.3em;
    margin: 0 0 4rem 0;

    h1 {
      font-weight: 500;
    }
  }

  .role-selector-cont {
    display: flex;
    width: 18rem;
    gap: 2rem;
    margin-bottom: 3rem;

    button {
      padding: 0.5rem;
      background-color: transparent;
      outline: none;
      border: none;
      flex: 1;
    }

    &.User-selected {
      .user-btn {
        border-bottom: 2px solid white;
      }
    }

    &.Admin-selected {
      .lot-owner-btn {
        border-bottom: 2px solid white;
      }
    }
  }

  .form-cont {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    label,
    input {
      display: block;
    }


    form {
      width: 18rem;

      .vehicle-container {
        background-color: rgba(0, 0, 0, 0.418);
        backdrop-filter: blur(6rem);
        border-radius: 1rem;
        align-items: center;
        flex-direction: column;
        padding: 5%;
        padding-top: 2%;

        h2 {
          font-weight: 500;
          align-self: left;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }

      .form-field {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;

        label {
          font-size: 0.8em;
        }

        input {
          padding: 0.5rem;
          border: 1px solid #b9b9b9;
          border-radius: 0.3rem;
          font-size: 0.95em;
          width: 100%;
          background: transparent;
          box-sizing: border-box;
          outline: none;
          padding: 0.85rem 0.7rem;
          color: white;
        }
      }

      .form-actions {
        padding-top: 2rem;

        a {
          display: block;
          font-size: 0.8em;
          color: rgb(203, 203, 203);
        }

        button {
          width: 100%;
          padding: 0.75rem;
          margin-top: 1.25rem;
          background-color: #c5eb0d;
          color: black;

          &.register-btn {
            background-color: #d9d9d9;
          }
        }
      }
    }
  }
}