$color_2: white;
$color_3: #aaa;
$background-color_1: #2b2b2b;

.admin-parking-log-cont {
    margin-top: 1rem;

    .admin-parking-log-list {
        list-style: none;
        padding: 0;

        .admin-parking-log-item {
            background-color: $background-color_1;
            color: $color_2;
            padding: 1rem 1.5rem;
            border-radius: 5px;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 1.4em;
                line-height: 1.4em;
                margin-bottom: 0.5rem;
            }

            p {
                margin: 0;
                font-size: 0.85em;
                color: #aaa;
            }
        }

        .admin-no-records {
            text-align: center;
            padding: 15px;
            color: $color_3;
        }
    }
}
