.history-cont {
    width: 100%;
    flex: 1;
    padding: 2rem 1.3rem;
    overflow: auto;

    h1 {
        flex: 3;
        font-size: 2em;
    }

    .previous-transaction-history {
        .header {
            color: rgb(139, 139, 139);
            font-weight: 400;
            font-size: .95em;
            margin-bottom: 0.5rem;
        }

        .transaction-items {
            .prev-trans-item {
                background-color: rgba(73, 73, 73, 0.189);
                margin: 0.8rem 0;
                padding: .4rem 1.2rem;
                display: flex;

                .main-details {
                    flex: 5;

                    .name {
                        font-size: 1.2em;
                        margin-bottom: 0;
                        color: rgb(188, 188, 188);
                    }

                    .slot {
                        font-size: .86em;
                        margin-bottom: 1rem;
                        color: rgba(206, 206, 206, 0.724);
                    }

                    .date {
                        font-size: .86em;
                        color: rgba(169, 169, 169, 0.724);
                    }
                }

                .duration {
                    flex: 1;
                    color: white;
                    font-size: 0.9em;
                    font-weight: 400;
                    text-align: right;
                }
            }
        }
    }
}